body {
    margin: 0;
    padding: 0;
}
#Page {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
#Doc_Box {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 50%;
}
#Stop_Box {
    position: absolute;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 50%;
}
