.container-fluid {
  background: rgb(246, 246, 246);
  height: 100vh;
  width: 100%;
}

.row {
  height: 100%;
}

.col-md-5 {
  position: relative;
}

.search_bar {
  position: relative;
  display: inline-block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, .08);
  box-shadow:
    inset .5px 2px 4px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  outline-width: 0;
  margin-top: 20px;
}

.search_input {
  position: relative;
  border: none;
  width: 100%;
  background:transparent;
  padding-left: 10px;
  font-size: 15px;
}

.search-img {
  position: absolute;
  top: 6px;
  right: 6px;
  height: 15px;
  width: 15px;
}

.search-img:hover {
  cursor: pointer;
}

#doc_functions {
  background-color: rgb(133, 255, 236);
  height: 100%;
}

#stop_functions {
  background-color: rgb(255, 106, 98);
  height: 100%;
}

.doc_spot {
  position: relative;
  height: 90%;
}

.doc_page {
  position: relative;
  height: 90%;
}

.doc_container {
  display: inline-block;
  margin-top: 20px;
  width: auto;
}

.doc_wrapper {
  position: relative;
  float: left;
  width: 100px;
  height: 150px;
  box-shadow: 0px 0px 8px 2px rgba(1, 1, 1, .1);
  border: .5px solid rgba(1, 1, 1, .1);
  margin: 0 0 50px 30px;
}

.doc_item {
  position: relative;
  background: rgb(255, 255, 255);
  display: inline-block;
  padding: 12px 15px 0;
  height: inherit;
  width: inherit;
  cursor: pointer;
}

.stop_page {
  position: relative;
  height: 90%;
}

.stop_container {
  display: inline-block;
  margin-top: 20px;
  width: auto;
}

.stop_wrapper {
  position: relative;
  float: left;
  width: 100px;
  height: 150px;
  box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, .15);
  margin: 0 0 50px 30px;
}

.stop_item {
  position: relative;
  background: rgb(255, 255, 255);
  display: inline-block;
  padding: 12px 15px 0;
  height: inherit;
  width: inherit;
  cursor: pointer;
  color: rgb(37, 37, 37);
}

.active_stoplists {
  position: absolute;
  height: 15%;
  width: 100%;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, .05) ;
  box-shadow: 0px 0px 50px 0px rgba(2, 2, 2, .15);
  bottom: 0px;
}
