<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <link rel="stylesheet" href="../static/main.css">
  <title>Stopify</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6" id="doc-side" aria-hidden="true">
        <div class="search-bar" id="doc-search">
          <input type="text" class="doc-search-box search-input"  name="search" placeholder="Search...">
            <img class="search-img" src="static/image/icons/search.svg"/>
          <div data-name="search-btn" class="search-btn"></div>
        </div>
        <div class="doc-page">
          <h1> Documents </h1>
          <!-- TODO: Add scroller that loads doc text preview-->
        </div>
          <div class="document-diagnostics">
            <div class="row">
              <div class="col-md-3" id="diagnosedwords">
                <h1> Words </h1>
                <div class="word-field">
                </div>
              </div>
              <div class="col-md-3" id="before-diagnostics">
                <h1> Before </h1>
                <div class="before-field">
                </div>
              </div>
              <div class="col-md-3" id="after-diagnostics">
                <h1> After </h1>
                <div class="after-field">
                </div>
              </div>
              <div class="col-md-3" id="improvement-diagnostics">
                <h1> Improvements </h1>
                <div class="improvement-field">
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-6" aria-hidden="true">
        <div class="search-bar" id="stop-search">
          <input type="text" class="live-search-box search-input" name="search" placeholder="Search...">
            <img class="search-img" src="static/image/icons/search.svg"/>
          <div data-name="search-btn" class="search-btn"></div>
        </div>
        <div class="stop-page-functions">
          <img class="sto-add-img" src="static/image/icons/add_black.svg"/>
          <img class="stop-edit-img" src="static/image/icons/ic_edit_black_18px.svg"/>
          <img class="stop-edit-img" src="static/image/icons/ic_remove_black_18px.svg"/>
          <img class="stop-edit-img" src="static/image/icons/ic_save_black_18px.svg"/>
        </div>
        <div class="stop-page">
          <div class="row general-stoplist-page">
            <h1> General </h1>
          </div>
          <div class="row domain-specific-stoplist-page">
            <h1> Domain </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<!-- Variables -->
<script type="text/javascript">
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  var doc_names = {{ doc_names|tojson|safe }};
  var existing_stoplist_names = {{ existing_stoplist_names|safe }};
</script>

<script type="text/javascript" src="{{ url_for('static', filename='handler.js') }}"></script>

</html>

<!-- <div id="suggestion-page">
  <div class="container">
    <div class="row suggestions">
      <h1> Suggestions </h1>
      <div class="suggested-field suggestion-box">
      </div>
    </div>
    <div class="row suggestions">
      <h1> Before </h1>
      <div class="before-field suggestion-box">
      </div>
    </div>
    <div class="row suggestions">
      <h1> After </h1>
      <div class="after-field suggestion-box">
      </div>
    </div>
    <div class="row suggestions">
      <h1> Improvement </h1>
      <div class="improvement-field suggestion-box">
      </div>
    </div>
    <div class="buttonWrapper">
      <button type="button" id="save-stop-suggestions" name="SaveBtn" onclick="saveSuggestions()">Save Suggestions</button>
    </div>
  </div>
</div> -->
